<nav class="navbar navbar-fixed-top  navbar-inverse" role="navigation">

	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>

		<a class="navbar-brand" href="/web/"> Bookstore.com</a>
	</div>

	<div class="collapse navbar-collapse offset1"
		id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class=""><a href="#"> <span
					class="glyphicon glyphicon-home"></span> <span
					data-translate="global.menu.home">Home</span>
			</a></li>
		</ul>

		<ul class="nav navbar-nav pull-right">
			<li class="dropdown" data-ng-controller="LanguageController"><a
				class="dropdown-toggle btn-link" data-toggle="dropdown"> <span>
						<span class="glyphicon glyphicon-flag"></span> <span
						class="hidden-tablet" data-translate="global.menu.language">Language</span>
						<b class="caret"></b>
				</span>
			</a>
				<ul class="dropdown-menu">
					<li data-active-menu="da"><a href="#"
						data-ng-click="changeLanguage(&apos;da&apos;)"><span
							class="famfamfam-flag-dk"></span> &nbsp;<span
							data-translate="global.language.da">Danish</span></a></li>
					<li data-active-menu="en"><a href="#"
						data-ng-click="changeLanguage(&apos;en&apos;)"><span
							class="famfamfam-flag-gb"></span> &nbsp;<span
							data-translate="global.language.en">English</span></a></li>
					<li data-active-menu="fr"><a href="#"
						data-ng-click="changeLanguage(&apos;fr&apos;)"><span
							class="famfamfam-flag-fr"></span> &nbsp;<span
							data-translate="global.language.fr">French</span></a></li>
					<li data-active-menu="de"><a href="#"
						data-ng-click="changeLanguage(&apos;de&apos;)"><span
							class="famfamfam-flag-de"></span> &nbsp;<span
							data-translate="global.language.de">German</span></a></li>
					<li data-active-menu="pl"><a href="#"
						data-ng-click="changeLanguage(&apos;pl&apos;)"><span
							class="famfamfam-flag-pl"></span> &nbsp;<span
							data-translate="global.language.pl">Polish</span></a></li>
				</ul></li>
		</ul>

	</div>
	<!-- /.navbar-collapse -->
</nav>